html {
  background-color: rgba(235, 178, 168, 0.411);
}
h1 {
  background-color: rgb(156, 215, 223); 
}
h1 {
  color: rgb(208, 155, 221); 
  font-size: 36pt
}
p {
  color: rgba(238, 12, 12, 0.596);  
  font-size: 18pt
}